.price {
  color: theme-color("dark");
  font-weight: bold;
  font-size: larger;
  padding-top: 2rem;
  text-align: center;
  display: block;
}

.calc-container {
  background-color: theme-color("white");
  align-items: center;
  padding-bottom: 5rem;
  padding-top: 3rem;
  @include media-breakpoint-up(sm) {
    padding-bottom: 10rem;
  }
}
