.country-title {
    padding: 0.5rem;
    border-bottom: 1px solid theme-color("dark");
    color: theme-color("white");
    background-color: theme-color("medium");
    cursor: pointer;
    &:hover {
        background-color: lighten(theme-color("medium"), 2%);
    }
}

.league-title {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid theme-color("dark");
    color: theme-color("white");
    background-color: theme-color("light");
    cursor: pointer;
    &:hover {
        background-color: lighten(theme-color("light"), 2%);
    }
}
.league-content {
    color: theme-color("white");
    background-color:  lighten(theme-color("light"), 7%);
}

.team-title {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid theme-color("medium");
}
.team-logo {
    width: 35px;
}
.toggle-favorite-player {
    cursor: pointer;
    &.active {
        color: theme-color("warning");
    }
}