.home-categories-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    .h5 {
        font-size: 1.5rem;
    }
    @include media-breakpoint-up(md) {
        padding-top: 7rem;
        padding-bottom: 7rem;
        .card {
            height: 100%;
        }
    }
}