.view-loader {
  position: relative
}

.view-loader:before {
  position: absolute;
  z-index: 998;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(19,19,18,.6)
}

.view-loader:after {
  content: '';
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 999;
  left: calc(50% - 25px);
  top: 120px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 2px solid theme-color("primary");
  border-right: 2px solid transparent;
  -webkit-animation: spinner 1.2s linear infinite,.4s transparent-v ease-in-out;
  animation: spinner 1.2s linear infinite,.4s transparent-v ease-in-out
}

.view-loader.loader-center:after {
  top: calc(50% - 25px)
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-webkit-keyframes transparent-v {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes transparent-v {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}