#promotions-list {
    background-color: theme-color("white");
    align-items: center;
}

#promotions {
    margin-left: 23%;
    margin-right: 15%;
}

h3 {
    text-align: center;
   padding-top: 1.5rem;
}