.promotion-item {
    margin-bottom: 2rem;
}
.promotion-card {
    background-color: white;
    min-height: 150px;
}

.promotion-page-title {
    color: rgba(88, 203, 30, 0.93);
    font-weight: bolder;
    padding-top: .5rem;
}

.promotion-card-body {
    padding-top: 1rem;
}
