$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

$body-bg:                   #d4d5db;

// Theme Colors Overrides
$theme-colors: (
    "white":                #ffffff,
    "black":                #000000,
    "primary":              #1ba0b4,
    "secondary":            #5df24c,
    "warning":              #fadf00,
    "danger":               #f62b00,
    "light":                #d4d5db,
    "medium":               #344558,
    "dark":                 #263140,
    "primary-medium":       #147d8e,
    "primary-dark":         #0b4650,
        "grey":             darken(theme-color("light"), 5%),
);

$grid-gutter-width:         12px;

// Navbar
$navbar-light-brand-color:  #ffffff;
$navbar-light-color:        rgba(255,255,255,0.7);
$navbar-light-active-color: #ffffff;
$navbar-padding-y:          0;
$navbar-nav-link-padding-x:  1rem;


// Card
$card-border-width:         5px;
$card-border-color:         darken(theme-color("light"), 2%);
$card-border-radius:        0;
$card-columns-margin:       0;
$card-bg:                   white;
